[v-cloak] {
    display: none;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 5rem;
    font-weight: 700;
    color: #007497;
    text-transform: uppercase;
}

#sudoku-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    border: 10px solid black;
    width: 695px;
}

.column {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-even {
    background-color: #007497;
}

.column-even input {
    background-color: #007497;
}

.column-odd {
    background-color: #ffffff;
}

.column-odd input {
    background-color: #ffffff;
}

.row {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
}

.row-even {
    background-color: #ffffff;
}

.row-even input {
    background-color: #ffffff;
}

.row-odd {
    background-color: #007497;
}

.row-odd input {
    background-color: #007497;
}

input {
    border: none;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
}

input:focus {
    outline: none;
}